@use '../helpers' as *;

.button {
    @include flex-center(true);

    padding-inline: rem(24);
    height: rem(59);
    white-space: nowrap;
    color: var(--color-grey-15);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
    border: 1px solid currentColor;

    @include hover {
        background-color: transparent;
        border-color: var(--color-accent);
    }

    &--dark {
        color: var(--color-light);
        background: var(--background);
        backdrop-filter: var(--backdrop-filter);
        border: rem(1) solid var(--color-grey-15);
    }

    @include laptop {
        padding-inline: rem(18);
        height: rem(45);
        align-self: center;
    }

    @include tablet {
        padding-inline: rem(15);
    }
}