@use '../helpers' as *;

.grid {
    --gridColumn: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumn), 1fr);

    @for $i from 2 through 12 {
        &--#{$i} {
            --gridColumn: #{$i};
        }
    }

    &--3,
    &--2 {
        @include tablet {
            --gridColumn: 1;
        }
    }

    &--4 {
        @include tablet {
            --gridColumn: 2;
        }
    }
}