@use '../helpers' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-grey-10);
    border-bottom: var(--border);
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll(y);
    animation-range: rem(100) rem(200);

    @keyframes scrolling-header {
        to {
            box-shadow: 0 0 1rem var(--color-light);
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(10);
        padding-block: rem(20);

        @include mobile {
            padding-top: rem(40);
        }
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: rem(20) rem(5);
            background-color: var(--color-grey-10);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu {
        @include mobile {
            overflow-y: auto;
        }
        &-list {
            display: flex;
            column-gap: rem(2);

            @include mobile {
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;
            }
        }

        &-link {
            padding: rem(14) rem(28);

            @include laptop {
                padding: rem(12) rem(22);
            }

            @include tablet {
                padding: rem(8) rem(18);
            }

            &.is-active {
                font-weight: 600;
                color: var(--color-light);
                background-color: var(--color-grey-15);
                border-radius: var(--border-radius-small);
                pointer-events: none;
            }
        }
    }

    &__contact-us-link {
        @include tablet-above {
            padding-inline: rem(24);
        }
        
        @include mobile {
            width: 100%;
            max-width: rem(320);
            align-self: center;
        }
    }
}