@use '../helpers' as *;

.hero {
    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: rem(112);
        padding-bottom: rem(274);

        @include mobile-above {
            border-inline: var(--border);
        }

        @include mobile {
            padding-top: rem(80);
            padding-bottom: rem(205);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &::before {
            z-index: -10;
            background-image: url('../images/hero-bg.webp');

            @include mobile-s {
                width: 100vw;
                left: 50%;
                translate: -50%;
            }
        }

        &::after {
            z-index: -1;
            background-image: url('../images/hero-bg-abstract.webp');
        }
    }

    &__title {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: rem(40);

            @include laptop {
                margin-bottom: rem(30);
            }
        }
    }

    &__tags {
        padding: rem(24) rem(40);
        text-align: center;
        background: var(--background);
        backdrop-filter: var(--backdrop-filter);
        border: var(--border);
        border-radius: rem(12);

        @include laptop {
            padding: rem(18) rem(30);
        }

        @include mobile {
            padding-inline: rem(20);
        }

        &-text {
            @include fluid-text(22, 16);

            color: var(--color-grey-60);
        }

        &:not(:last-child) {
            margin-bottom: rem(50);

            @include laptop {
                margin-bottom: rem(40);
            }
        }
    }

    &__buttons {
        display: flex;
        column-gap: rem(13);
    }

    &__partners {
        position: relative;
        border-inline: var(--border);

        &-label {
            position: absolute;
            top: 0;
            left: 50%;
            translate: -50% -50%;
            padding: rem(20) rem(34);
            font-weight: 500;
            white-space: nowrap;
            color: var(--color-light);
            background-color: var(--color-grey-10);
            border: var(--border);
            border-radius: rem(100);

            @include laptop {
                padding: rem(14) rem(24);
            }
        }

        &-list {
            padding-block: rem(40);
            column-gap: rem(10);

            @include laptop {
                padding-block: rem(30);
            }

            @include tablet {
                padding-top: rem(20);
                padding-bottom: 0;
                column-gap: 0;
            }
        }

        &-item {
            display: flex;
            justify-content: center;
            padding-block: rem(20);

            @include laptop {
                padding-block: rem(16);
            }

            @include tablet {
                border-bottom: var(--border);
            }

            &:nth-child(odd) {
                @include tablet {
                    border-right: var(--border);
                }
            }
        }

        &-image {
            @include laptop {
                max-width: rem(80);
            }
        }
    }
}