@use '../helpers' as *;

.icon-wrapper {
    --iconWrapperSize: #{fluid(88, 58)};

    @include square(var(--iconWrapperSize));

    position: relative;
    flex-shrink: 0;
    padding: fluid(24, 16);
    background: var(--gradient);
    border-radius: var(--border-radius);

    &--accent {
        background: var(--color-accent);
        border-radius: rem(15);
        box-shadow: inset 0 0 rem(14) rem(6) rgba(255, 255, 255, 0.5);
    }

    &__image {
        --iconImageSize: #{fluid(40, 26)};

        @include abs-center;
        @include square(var(--iconImageSize));
    }

    &--dark {
        --iconWrapperSize: #{rem(54)};
        
        background: var(--color-grey-15);

        @include laptop {
            --iconWrapperSize: #{rem(46)};
        }

        svg {
            @include abs-center;

            color: var(--color-accent);
        }
    }
}