@use '../helpers' as *;

.icon-wrapper {
    @include square(var(--icon-wrapper-size));

    position: relative;
    flex-shrink: 0;
    padding: fluid(24, 16);
    background: var(--gradient);
    border-radius: var(--border-radius);

    &--accent {
        background-color: var(--color-accent);
        border-radius: rem(15);
        box-shadow: inset 0 0 14px 6px rgba(255, 255, 255, 0.5);
    }

    &__image {
        --iconImageSize: #{fluid(40, 26)};

        @include abs-center;
        @include square(var(--iconImageSize));
    }
}