@use '../helpers' as *;

.process {
    &__list {
        counter-reset: custom-counter;
        list-style: none;
    }

    &__item {
        --customCounter: counter(custom-counter);

        counter-increment: custom-counter;
        border: var(--border);

        &:nth-child(-n + 9) {
            --customCounter: '0' counter(custom-counter);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        row-gap: fluid(50, 30);
        padding: fluid(100, 40) fluid(50, 24);

        &-header {
            display: flex;
            align-items: center;
            column-gap: rem(14);
            height: fluid(120, 65);

            @include mobile {
                column-gap: rem(10);
            }
        }

        &-counter {
            &::before {
                @include fluid-text(150, 80);

                content: var(--customCounter);
                font-weight: 600;
                color: var(--color-accent-80);
            }
        }

        &-title,
        &-description {
            color: var(--color-grey-60);
        }

        &-title {
            align-self: end;
            padding-bottom: fluid(26, 14);
            border-bottom: var(--border);
            width: 100%;
        }
    }
}