@use '../helpers' as *;

.section {
    &__header {
        text-align: center;
        padding-block: fluid(120, 50);
        background: url('../images/section-header_bg/services.svg') top/cover no-repeat;

        @include mobile-s {
            padding-inline: rem(16);
        }
        
        &--advantages {
            background: url('../images/section-header_bg/advantages.svg') top/cover no-repeat;
        }

        &--about-us {
            background: url('../images/section-header_bg/about-us.svg') top/cover no-repeat;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: fluid(14, 6);
        }
    }

    &__body {
        border-inline: var(--border);
    }
}