@use '../helpers' as *;

.tag {
    @include fluid-text(22, 16);

    padding: rem(12) rem(14);
    color: var(--color-light);
    background-color: var(--color-grey-15);
    border-radius: var(--border-radius-small);

    @include laptop {
        padding: rem(8) rem(10);
    }

    &--main {
        @include mobile-above {
            text-transform: capitalize;
        }

        @include mobile {
            padding: 0;
            color: inherit;
            background-color: transparent;
        }
    }
}